In [1]:
import pandas as pd
from path import Path

file_path = Path("./baseballdatabank-2022.2/contrib/HallOfFame.csv")
hof_df = pd.read_csv(file_path)
hof_df.head()

,playerID,yearID,votedBy,ballots,needed,votes,inducted,category,needed_note
0,cobbty01,1936,BBWAA,226.0,170.0,222.0,Y,Player,NaN
1,ruthba01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN
2,wagneho01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN
3,mathech01,1936,BBWAA,226.0,170.0,205.0,Y,Player,NaN
4,johnswa01,1936,BBWAA,226.0,170.0,189.0,Y,Player,NaN

In [2]:
# Determine the number of unique values in each column.
hof_df.nunique()

playerID       1279
yearID           80
votedBy           9
ballots          74
needed           65
votes           367
inducted          2
category          4
needed_note       2
dtype: int64

In [3]:
hof_binary_encoded = pd.get_dummies(hof_df, columns=["inducted"])
hof_binary_encoded.head()

,playerID,yearID,votedBy,ballots,needed,votes,category,needed_note,inducted_N,inducted_Y
0,cobbty01,1936,BBWAA,226.0,170.0,222.0,Player,NaN,0,1
1,ruthba01,1936,BBWAA,226.0,170.0,215.0,Player,NaN,0,1
2,wagneho01,1936,BBWAA,226.0,170.0,215.0,Player,NaN,0,1
3,mathech01,1936,BBWAA,226.0,170.0,205.0,Player,NaN,0,1
4,johnswa01,1936,BBWAA,226.0,170.0,189.0,Player,NaN,0,1